@import './vuetify-ui.scss';
// *
html,* {
  font-size: 14px !important;
}

// flex
.v-flex{
  display: flex;
}
.flex-x-center{
  display: flex;
  justify-content: center;
}
.flex-y-center{
  display: flex;
  align-items: center;
}

// margin
.m-auto {
  margin: auto !important;
}

// fixed

.fixed{
  position: fixed !important;
}
// absolute
.abs{
  position: absolute !important;
}
// width
.full-width{
  width: 100%;
}

// sticky
.sticky{
  position: sticky !important;
  top: 120px;
}

// markdown
.v-note-wrapper{
  z-index: 1 !important
}

// router
.slide-left-enter {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-enter-active {
  transition: all 0.3s ease;
}
.slide-left-leave-to {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
.slide-left-leave-active {
  transition: all 0.1s ease;
}