@import './vuetify-ui.scss';

// flex
.v-flex{
  display: flex;
}
.flex-x-center{
  display: flex;
  justify-content: center;
}
.flex-y-center{
  display: flex;
  align-items: center;
}

// margin
.m-auto {
  margin: auto !important;
}

// fixed

.fixed{
  position: fixed !important;
}

// width
.full-width{
  width: 100%;
}

// sticky
.sticky{
  position: sticky !important;
  top: 120px;
}