.theme--light.v-application code {
  background-color: transparent !important;
}
.v-rating .v-icon{
  padding: 0 !important;
}
.v-timeline:before{
  width: 1px !important;
}
.v-timeline-item__dot--small .v-timeline-item__inner-dot{
  width: 8px !important;
  height: 8px !important;
  margin: auto !important;

}
.v-timeline-item__dot--small{
  height: 10px !important;
  width: 10px !important;
}